<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBGmc4bwAFdJm0wEztcjxof-jbMsCNGao</string>
	<key>GCM_SENDER_ID</key>
	<string>495951618249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adviOS.TravelConnect</string>
	<key>PROJECT_ID</key>
	<string>travelconnect-a7ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>travelconnect-a7ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495951618249:ios:dee5f7f3a735922bcced18</string>
</dict>
</plist>